.calculator {
    width: 200px;
    margin: 50px auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
  }
  
  #result {
    width: 90%;
    margin-bottom: 10px;
    padding: 5px;
    font-size: 18px;
  }
  
  .buttons button {
    width: 40px;
    height: 40px;
    margin: 2px;
    font-size: 16px;
    border-radius: 5px;
  }
button:hover{
    cursor: pointer;
}